.main {
  background-color: cadetblue;
  background-image: url('../public/background.jpg');
  min-height: 100vh;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-style: normal;
  color:rgb(32, 106, 218);
  text-align: center;
}

.imageDisplay{
  display: flex;
  float: left;
  overflow: hidden;
  justify-content:center;
  align-items:center;
  object-position: center;
  width: 40em;
  height: 40em;
  padding-right: 10em;
}

.imageBorder{
  border-radius: 5px;
  overflow: hidden;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.form{
  padding-top: 10em;
}

.breedText{
  color:rgb(9, 63, 145);
}