.buttonStyle{
    font-style: normal;
    font-size: large;
    color:rgb(32, 106, 218);
}

.title{
    font-style:oblique;
    font-weight: bold;
    font-size: larger;
    color:rgb(32, 106, 218);
}